In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import os
import warnings
warnings.filterwarnings("ignore")
os.chdir('/Users/oanottage/Desktop/BTS/Data Science Foundations/DSFinal/')

In [2]:
raw_businesses = pd.read_csv("data/external/Google/lead_list_barcelona_2023-03-02.csv")
raw_districts = pd.read_csv("data/processed/business_districs.csv")
raw_district_info = pd.read_csv("data/processed/district_info.csv")

In [3]:
df_businesses = raw_businesses.copy()
df_districts = raw_districts.copy()
df_district_info = raw_district_info.copy()

In [4]:
df_businesses.head()

,category,business_status,formatted_phone_number,international_phone_number,name,opening_hours,place_id,rating,types,url,user_ratings_total,website,permanently_closed,price_level,latitude,longitude
0,accounting,OPERATIONAL,912 24 94 26,+34 912 24 94 26,BBVA,"{'open_now': True, 'periods': [{'close': {'day...",ChIJC4wKC5OipBIRNylnuSiqc8g,2.4,"['bank', 'atm', 'accounting', 'finance', 'poin...",https://maps.google.com/?cid=14444075521793272119,82.0,https://www.bbva.es/,NaN,NaN,41.390572,2.166377
1,accounting,OPERATIONAL,934 67 70 21,+34 934 67 70 21,BBVA,"{'open_now': True, 'periods': [{'close': {'day...",ChIJTcKWdeqipBIRYcZ6mcS-5ak,2.0,"['bank', 'atm', 'accounting', 'finance', 'poin...",https://maps.google.com/?cid=12242400913674389089,42.0,https://www.bbva.es/,NaN,NaN,41.396500,2.164191
2,accounting,OPERATIONAL,932 45 88 07,+34 932 45 88 07,Oficina Banc BBVA,"{'open_now': True, 'periods': [{'close': {'day...",ChIJG5hR4eWipBIR0NaV1YhuB8g,2.1,"['bank', 'atm', 'accounting', 'finance', 'poin...",https://maps.google.com/?cid=14413610666400536272,46.0,https://www.bbva.es/,NaN,NaN,41.395615,2.175237
3,accounting,OPERATIONAL,933 17 29 75,+34 933 17 29 75,ADD Work Systems,"{'open_now': True, 'periods': [{'close': {'day...",ChIJ01Y_O_CipBIR6u330Kjcw_o,NaN,"['accounting', 'finance', 'point_of_interest',...",https://maps.google.com/?cid=18069528747559087594,NaN,http://www.addworksystems.com/,NaN,NaN,41.390244,2.166457
4,accounting,OPERATIONAL,932 72 14 11,+34 932 72 14 11,Acordia ACR,"{'open_now': True, 'periods': [{'close': {'day...",ChIJC_7JOJOipBIRz09nzVB5h_U,2.7,"['accounting', 'finance', 'point_of_interest',...",https://maps.google.com/?cid=17692243049098727375,3.0,http://www.acordiaacr.com/,NaN,NaN,41.394548,2.163667

In [5]:
df_districts.head()

           Area International Phone Number   Latitude  Longitude
0  Ciutat Vella           +34 976 24 16 53  41.390142   2.169835
1  Ciutat Vella           +34 938 36 33 07  41.388389   2.168717
2  Ciutat Vella           +34 938 29 93 36  41.391270   2.172490
3  Ciutat Vella           +34 938 28 83 12  41.389466   2.165171
4  Ciutat Vella           +34 937 07 29 98  41.392059   2.173943

In [6]:
df_districts.columns

Index(['Area', 'International Phone Number', 'Latitude', 'Longitude'], dtype='object')

In [7]:
df_district_info.head()

,Nom_Districte,Any,Codi_Districte,Codi_Barri,Poblacio,Domicilis,Ocupacio_mitjana_(persones_ per_domicili),ratio_people/poblacio
0,Nou Barris,26273,104,650,173552,66897,34.26,0.608560
1,Horta-Guinardó,22231,77,418,173944,69956,27.33,0.585189
2,Sants-Montjuïc,16168,24,116,187026,74280,19.98,0.266193
3,Sant Andreu,14147,63,420,151537,59678,18.55,0.191387
4,Sant Martí,20210,100,685,241181,94907,25.69,0.127368

In [8]:
df_business_districts = df_districts.merge(df_businesses, left_on="International Phone Number", right_on="international_phone_number", how="left")

In [9]:
df_business_districts.head()

,Area,International Phone Number,Latitude,Longitude,category,business_status,formatted_phone_number,international_phone_number,name,opening_hours,place_id,rating,types,url,user_ratings_total,website,permanently_closed,price_level,latitude,longitude
0,Ciutat Vella,+34 976 24 16 53,41.390142,2.169835,moving_company,OPERATIONAL,976 24 16 53,+34 976 24 16 53,IAC Cooperativa de Transporte,"{'open_now': True, 'periods': [{'close': {'day...",ChIJv4mlPWKjpBIRLvZeiw2VL0Y,5.0,"['moving_company', 'point_of_interest', 'estab...",https://maps.google.com/?cid=5057424791965726254,2.0,https://iaccooperativa.net/,NaN,NaN,41.390142,2.169835
1,Ciutat Vella,+34 938 36 33 07,41.388389,2.168717,university,OPERATIONAL,938 36 33 07,+34 938 36 33 07,Consulate General of Georgia,"{'open_now': False, 'periods': [{'close': {'da...",ChIJK5h2LfKipBIRRNkZZnF-1uU,4.4,"['university', 'point_of_interest', 'establish...",https://maps.google.com/?cid=16561563705210952004,33.0,http://barcelona.mfa.gov.ge/,NaN,NaN,41.388389,2.168717
2,Ciutat Vella,+34 938 29 93 36,41.391270,2.172490,shopping_mall,OPERATIONAL,938 29 93 36,+34 938 29 93 36,Paris Look in Barcelona,"{'open_now': True, 'periods': [{'close': {'day...",ChIJ8Wms0e-ipBIR4avSC4Xeewk,4.4,"['shopping_mall', 'point_of_interest', 'store'...",https://maps.google.com/?cid=683384431487134689,93.0,https://paris-look.com/,NaN,NaN,41.391270,2.172490
3,Ciutat Vella,+34 938 28 83 12,41.389466,2.165171,embassy,OPERATIONAL,938 28 83 12,+34 938 28 83 12,Philippine Consulate General in Barcelona,"{'open_now': True, 'periods': [{'close': {'day...",ChIJAfa7Lb2jpBIRCjWYVSor6oU,4.1,"['embassy', 'point_of_interest', 'establishment']",https://maps.google.com/?cid=9649572612419368202,19.0,https://barcelonapcg.dfa.gov.ph/,NaN,NaN,41.389466,2.165171
4,Ciutat Vella,+34 937 07 29 98,41.392059,2.173943,post_office,OPERATIONAL,937 07 29 98,+34 937 07 29 98,Goku Express 悟空速递,"{'open_now': True, 'periods': [{'close': {'day...",ChIJBRV8ER6jpBIRHl1CJPk2epg,3.3,"['post_office', 'finance', 'point_of_interest'...",https://maps.google.com/?cid=10987154684606831902,4.0,NaN,NaN,NaN,41.392059,2.173943

In [10]:
df_business_districts.drop(columns=['International Phone Number','Latitude','Longitude'], inplace=True)

In [11]:
df_business_districts.head()

,Area,category,business_status,formatted_phone_number,international_phone_number,name,opening_hours,place_id,rating,types,url,user_ratings_total,website,permanently_closed,price_level,latitude,longitude
0,Ciutat Vella,moving_company,OPERATIONAL,976 24 16 53,+34 976 24 16 53,IAC Cooperativa de Transporte,"{'open_now': True, 'periods': [{'close': {'day...",ChIJv4mlPWKjpBIRLvZeiw2VL0Y,5.0,"['moving_company', 'point_of_interest', 'estab...",https://maps.google.com/?cid=5057424791965726254,2.0,https://iaccooperativa.net/,NaN,NaN,41.390142,2.169835
1,Ciutat Vella,university,OPERATIONAL,938 36 33 07,+34 938 36 33 07,Consulate General of Georgia,"{'open_now': False, 'periods': [{'close': {'da...",ChIJK5h2LfKipBIRRNkZZnF-1uU,4.4,"['university', 'point_of_interest', 'establish...",https://maps.google.com/?cid=16561563705210952004,33.0,http://barcelona.mfa.gov.ge/,NaN,NaN,41.388389,2.168717
2,Ciutat Vella,shopping_mall,OPERATIONAL,938 29 93 36,+34 938 29 93 36,Paris Look in Barcelona,"{'open_now': True, 'periods': [{'close': {'day...",ChIJ8Wms0e-ipBIR4avSC4Xeewk,4.4,"['shopping_mall', 'point_of_interest', 'store'...",https://maps.google.com/?cid=683384431487134689,93.0,https://paris-look.com/,NaN,NaN,41.391270,2.172490
3,Ciutat Vella,embassy,OPERATIONAL,938 28 83 12,+34 938 28 83 12,Philippine Consulate General in Barcelona,"{'open_now': True, 'periods': [{'close': {'day...",ChIJAfa7Lb2jpBIRCjWYVSor6oU,4.1,"['embassy', 'point_of_interest', 'establishment']",https://maps.google.com/?cid=9649572612419368202,19.0,https://barcelonapcg.dfa.gov.ph/,NaN,NaN,41.389466,2.165171
4,Ciutat Vella,post_office,OPERATIONAL,937 07 29 98,+34 937 07 29 98,Goku Express 悟空速递,"{'open_now': True, 'periods': [{'close': {'day...",ChIJBRV8ER6jpBIRHl1CJPk2epg,3.3,"['post_office', 'finance', 'point_of_interest'...",https://maps.google.com/?cid=10987154684606831902,4.0,NaN,NaN,NaN,41.392059,2.173943

In [12]:
df_business_districts.to_csv("deliverables/lead_list.csv", index=False)

In [13]:
df_business_districts['Count'] = 1

In [14]:
df_final = df_business_districts.groupby('Area').agg(sum)
df_final

,rating,user_ratings_total,price_level,latitude,longitude,Count
Area,,,,,,
Ciutat Vella,464.4,60736.0,17.0,5215.118948,273.339584,126
Eixample,8856.0,949840.0,381.0,100387.028841,5245.870818,2436
Gràcia,597.0,59316.0,50.0,6334.774065,330.238287,153

In [15]:
df_business_districts.groupby('category').agg(sum).sort_values("Count",ascending=False)

,rating,user_ratings_total,price_level,latitude,longitude,Count
category,,,,,,
doctor,248.4,5729.0,0.0,2442.376766,127.658323,59
lawyer,207.3,739.0,0.0,2400.918734,125.480465,58
local_government_office,152.5,1965.0,0.0,2400.945765,125.480429,58
beauty_salon,250.6,10763.0,1.0,2359.550083,123.250891,57
furniture_store,221.4,9760.0,0.0,2359.628540,123.227807,57
...,...,...,...,...,...,...
movie_rental,4.3,33.0,0.0,41.405458,2.160391,1
city_hall,0.0,0.0,0.0,41.399800,2.168025,1
cemetery,0.0,0.0,0.0,41.391119,2.166666,1
transit_station,3.8,8.0,0.0,41.392751,2.166989,1
gas_station,3.8,366.0,0.0,41.396653,2.175082,1

In [16]:
category_counts = df_business_districts.groupby(['Area'])['category'].nunique()

In [17]:
category_counts

Area
Ciutat Vella    52
Eixample        78
Gràcia          52
Name: category, dtype: int64

In [18]:
df_final = df_final.merge(category_counts, left_index=True, right_on="Area", how="left")

In [19]:
df_final

,rating,user_ratings_total,price_level,latitude,longitude,Count,category
Area,,,,,,,
Ciutat Vella,464.4,60736.0,17.0,5215.118948,273.339584,126,52
Eixample,8856.0,949840.0,381.0,100387.028841,5245.870818,2436,78
Gràcia,597.0,59316.0,50.0,6334.774065,330.238287,153,52

In [20]:
#Average values per area
df_final['diversified_businesses'] = df_final['category']/81
df_final['avg_ratings'] = df_final['rating']/df_final['Count']
df_final['avg_user_ratings_total'] = df_final['user_ratings_total']/df_final['Count']
df_final['avg_price_leve'] = df_final['price_level']/df_final['Count']
df_final['pcnt_businesses'] = df_final['Count']/df_business_districts.shape[0]

In [21]:
df_final.drop(columns=['Count','category','rating', 'user_ratings_total', 'price_level', 'latitude', 'longitude'],inplace=True)

In [22]:
df_final

,diversified_businesses,avg_ratings,avg_user_ratings_total,avg_price_leve,pcnt_businesses
Area,,,,,
Ciutat Vella,0.641975,3.685714,482.031746,0.134921,0.046409
Eixample,0.962963,3.635468,389.917898,0.156404,0.897238
Gràcia,0.641975,3.901961,387.686275,0.326797,0.056354

In [34]:
df_final.to_csv("data/processed/kmeans_scoring.csv")

In [24]:
df_business_districts.head()

,Area,category,business_status,formatted_phone_number,international_phone_number,name,opening_hours,place_id,rating,types,url,user_ratings_total,website,permanently_closed,price_level,latitude,longitude,Count
0,Ciutat Vella,moving_company,OPERATIONAL,976 24 16 53,+34 976 24 16 53,IAC Cooperativa de Transporte,"{'open_now': True, 'periods': [{'close': {'day...",ChIJv4mlPWKjpBIRLvZeiw2VL0Y,5.0,"['moving_company', 'point_of_interest', 'estab...",https://maps.google.com/?cid=5057424791965726254,2.0,https://iaccooperativa.net/,NaN,NaN,41.390142,2.169835,1
1,Ciutat Vella,university,OPERATIONAL,938 36 33 07,+34 938 36 33 07,Consulate General of Georgia,"{'open_now': False, 'periods': [{'close': {'da...",ChIJK5h2LfKipBIRRNkZZnF-1uU,4.4,"['university', 'point_of_interest', 'establish...",https://maps.google.com/?cid=16561563705210952004,33.0,http://barcelona.mfa.gov.ge/,NaN,NaN,41.388389,2.168717,1
2,Ciutat Vella,shopping_mall,OPERATIONAL,938 29 93 36,+34 938 29 93 36,Paris Look in Barcelona,"{'open_now': True, 'periods': [{'close': {'day...",ChIJ8Wms0e-ipBIR4avSC4Xeewk,4.4,"['shopping_mall', 'point_of_interest', 'store'...",https://maps.google.com/?cid=683384431487134689,93.0,https://paris-look.com/,NaN,NaN,41.391270,2.172490,1
3,Ciutat Vella,embassy,OPERATIONAL,938 28 83 12,+34 938 28 83 12,Philippine Consulate General in Barcelona,"{'open_now': True, 'periods': [{'close': {'day...",ChIJAfa7Lb2jpBIRCjWYVSor6oU,4.1,"['embassy', 'point_of_interest', 'establishment']",https://maps.google.com/?cid=9649572612419368202,19.0,https://barcelonapcg.dfa.gov.ph/,NaN,NaN,41.389466,2.165171,1
4,Ciutat Vella,post_office,OPERATIONAL,937 07 29 98,+34 937 07 29 98,Goku Express 悟空速递,"{'open_now': True, 'periods': [{'close': {'day...",ChIJBRV8ER6jpBIRHl1CJPk2epg,3.3,"['post_office', 'finance', 'point_of_interest'...",https://maps.google.com/?cid=10987154684606831902,4.0,NaN,NaN,NaN,41.392059,2.173943,1

In [25]:
df_final

,diversified_businesses,avg_ratings,avg_user_ratings_total,avg_price_leve,pcnt_businesses
Area,,,,,
Ciutat Vella,0.641975,3.685714,482.031746,0.134921,0.046409
Eixample,0.962963,3.635468,389.917898,0.156404,0.897238
Gràcia,0.641975,3.901961,387.686275,0.326797,0.056354

## PREPROCESSING FILE FOR KNMEANS CLUSTERING ALGORITHM

In [26]:
df_knm_businesses = df_business_districts.merge(df_final, left_on="Area", right_index=True, how = "left")

In [27]:
#Businesses with websites
df_knm_businesses['has_website'] = np.where(df_knm_businesses['website'].notna(), 1, 0)
df_knm_businesses = df_knm_businesses[df_knm_businesses['permanently_closed'].isna()]

In [28]:
#Remove unncessary columns
df_knm_businesses.drop(columns=['category','formatted_phone_number',
       'international_phone_number','name', 'opening_hours', 'place_id','types', 'url', 'user_ratings_total','Count','website','permanently_closed','price_level','business_status'],inplace=True)

In [29]:
#One hot encode the areas
df_knm_businesses = pd.get_dummies(df_knm_businesses, columns=['Area'], drop_first=True)

In [30]:
median_rating = df_knm_businesses['rating'].median()
df_knm_businesses['rating'].fillna(median_rating, inplace=True)

In [31]:
df_knm_businesses.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2626 entries, 0 to 2714
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   rating                  2626 non-null   float64
 1   latitude                2615 non-null   float64
 2   longitude               2615 non-null   float64
 3   diversified_businesses  2626 non-null   float64
 4   avg_ratings             2626 non-null   float64
 5   avg_user_ratings_total  2626 non-null   float64
 6   avg_price_leve          2626 non-null   float64
 7   pcnt_businesses         2626 non-null   float64
 8   has_website             2626 non-null   int64
 9   Area_Eixample           2626 non-null   uint8
 10  Area_Gràcia             2626 non-null   uint8
dtypes: float64(8), int64(1), uint8(2)
memory usage: 210.3 KB

In [32]:
df_knm_businesses

,rating,latitude,longitude,diversified_businesses,avg_ratings,avg_user_ratings_total,avg_price_leve,pcnt_businesses,has_website,Area_Eixample,Area_Gràcia
0,5.0,41.390142,2.169835,0.641975,3.685714,482.031746,0.134921,0.046409,1,0,0
1,4.4,41.388389,2.168717,0.641975,3.685714,482.031746,0.134921,0.046409,1,0,0
2,4.4,41.391270,2.172490,0.641975,3.685714,482.031746,0.134921,0.046409,1,0,0
3,4.1,41.389466,2.165171,0.641975,3.685714,482.031746,0.134921,0.046409,1,0,0
4,3.3,41.392059,2.173943,0.641975,3.685714,482.031746,0.134921,0.046409,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
2710,3.6,41.403078,2.157798,0.641975,3.901961,387.686275,0.326797,0.056354,1,0,1
2711,5.0,41.406276,2.162128,0.641975,3.901961,387.686275,0.326797,0.056354,1,0,1
2712,3.9,41.403091,2.159346,0.641975,3.901961,387.686275,0.326797,0.056354,1,0,1
2713,5.0,41.403917,2.156939,0.641975,3.901961,387.686275,0.326797,0.056354,1,0,1
2714,2.5,41.406168,2.162043,0.641975,3.901961,387.686275,0.326797,0.056354,1,0,1

In [33]:
df_knm_businesses.to_csv("data/processed/kmeans_dataframe.csv", index=False)